body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: #052850;
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
}

h1 {
  font-size: 52px;
  font-weight: 300;
  margin-top: 26px;
}

h2 {
  font-size: 30px;
  font-weight: 300;
}

h3 {
  font-size: 46px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  color: #fff;
}

li {
  margin-left: -28px;
}

.container {
  max-width: 690px;
}

.card {
  background: #000000d0;
  color: white;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 600px;
  max-width: 900px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 0;
  margin-right: 0;
}

.search-field {
  border: none;
  border-radius: 20px;
  margin-right: 6px;
  padding: 1em;
  width: calc(100%-100px);
  color: #fff;
  background: #7c7c7c2b;
}

.search-button {
  background: #7c7c7c2b;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 1em;
  transition: ease-in-out 200ms;
  cursor: pointer;
}

.search-button:hover {
  background: #7c7c7c8b;
  color: grey;
}

.current-button {
  background: #7c7c7c2b;
  border: none;
  border-radius: 18px;
  color: #fff;
  padding: 0, 5em;
  transition: ease-in-out 200ms;
  cursor: pointer;
  margin-top: 10px;
}

.current-button:hover {
  background: #7c7c7c8b;
  color: gray;
}

.description {
  font-weight: 600;
  text-transform: capitalize;
}

.current-units {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  top: -16px;
}

#celsius,
#fahrenheit {
  position: relative;
  font-size: 20px;
  top: -24px;
  text-decoration: none;
}
.active {
  color: #fff;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}

#conditions-icon {
  padding: 0px;
  height: 125px;
  width: 125px;
}
.current-temp {
  margin: auto;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

#open-source-link {
  color: #f5f7f2;
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
  padding: auto;
  font-family: "Courier New", Courier, monospace;
}
